.single_parent{
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;

}

.single_parent .postArea{
    margin-top: 5%;
    display: flex;
    height: auto;
    width: 50%;
    flex-direction: column;
}

@media screen and (max-width: 796px) {
    .single_parent .postArea {
        display: flex;
        height: auto;
        width: 90%;
        flex-direction: column;
    }
}