.wrapper_blogbox{
    /* margin-left: 50px; */
    margin-top: 50px;
    display: flex;
    height: auto;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: aliceblue;
}